*.exe
log.txt
*debug_bin
test.*
# Ignore the IDE gitignore files
.idea/
# ignores the main.go file
main.go
# ignore generated config file
Config.yaml
# ignore generated data folder
data/
# ignore the folder main
main/