*.exe
log.txt
*debug_bin
self.*
test.*
# Ensuring test case for splitting files does not push
# result as a commit
swarm/TestingFiles/output/*
!swarm/TestingFiles/output/.gitkeep
# This for the GoLand editor 
.idea/
